p{
	font: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-variant: small-caps;
}
a{
	color: rgba(204,13,16,1.00);
	font-variant: small-caps;
}
strong{
	color: rgba(117,13,194,1.00)
}
li{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: 
	
}